$font-family-open-sans-bold: "OpenSans-Bold";
$font-family-open-sans-semibold: "OpenSans-Semibold";
$font-family-open-sans-regular: "OpenSans-Regular";
$font-family-open-sans-light: "OpenSans-Light";
$font-family-lobster: "Lobster";
$font-family-code-pro-bold-lc: "CodeProBoldLC";
$font-family-code-pro-regular: "CodeProRegular";

$color-white: #fff;
$color-black: #0b0000;
$color-brign: #1e0a0c;
$color-red: #ed1c24;
$color-gray-dark: #b8b8b8;
$color-gray-light: #f3f3f3;